.rectangleRed {
    background-color: red;
    height: 50px;
}
.rectangleBlue {
    background-color: blue;
    height: 50px;
}

.rectangleYellow {
    background-color: yellow;
    height: 50px;
}

.btn-primary {
    --bs-btn-bg: red;
  }
